<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/helper.css">
  <!-- endbuild -->
</head>
<body ng-app="simple-angularfire-material-chat" layout="column" layout-fill>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<header class="mar-bot-20" ng-controller="HeaderCtrl">
  <md-toolbar>
    <h2 class="md-toolbar-tools" layout="row" layout-align="space-between">
      <a ui-sref="main.room({roomName : 'general'})">AngularFire Material Design Chat</a>
      <md-button ng-click="auth.signin()" ng-show="auth.isAnonymous" layout="row" layout-align="center center" layout-margin>
        <span flex>Signin</span>
        <md-icon flex md-svg-src="images/github.svg"></md-icon>
      </md-button>
      <span ng-hide="auth.isAnonymous">
        <span>{{auth.username}}</span>
        <md-button ng-click="auth.signout()" ng-hide="auth.isAnonymous">Signout</md-button>
      </span>
    </h2>
  </md-toolbar>
</header>


<div ui-view layout="row" layout-align="center start"></div>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/angularfire/dist/angularfire.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<script src="bower_components/angular-scroll-glue/src/scrollglue.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/mainCtrl.js"></script>
<script src="scripts/controllers/headerCtrl.js"></script>
<script src="scripts/controllers/roomCtrl.js"></script>
<script src="scripts/services/toast.js"></script>
<script src="scripts/services/auth.js"></script>
<!-- endbuild -->
</body>
</html>
